
.Mensagem-Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  position: absolute;
  left: 55%;
  transform: translateY(-100px) translateX(-50px);

}

.Mensagem-Login input{
   width: 200px;
  padding: 8  px;
  margin: 5px 0;
  margin-bottom: 5px;
  margin-top: 5px;
}



.Mensagem-Login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 10px;
  height: 300;
}

.Mensagem-Login label{
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}

.botao-entrar {
  width: 100px;
  padding: 8px;
  margin-top: 20px;               /* distância do checkbox/link */
  background-color: #0808c8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.opcoes-senha {
  display: flex;                  /* deixa os itens em linha */
  justify-content: space-between; /* um no canto esquerdo, outro no direito */
  width: 200px;                   /* mesma largura dos inputs */
  margin: 10px 0;                 /* espaço acima e abaixo */
  font-size: 14px;
}

.opcoes-senha input[type="checkbox"] {
  margin-right: 5px;              /* espaço entre checkbox e texto */
}

.opcoes-senha a {
  text-decoration: none;
  color: #0808c8;
  cursor: pointer;
}

.opcoes-senha a:hover {
  text-decoration: underline;
}

