

<div class="parent">
    <div class="div1"><h1>Bem vind&#64; a EasyReserve</h1>
</div>


<form>
  <div class= "login">
    <h1>FAÇA LOGIN</h1>

</div>
  <div class="campo">
    <label for="user">Usuário:</label>
    <input type="email" id="email" placeholder="digite seu usuário">
  </div>

  <div class="campo">
    <label for="senha">Senha:</label>
    <input type="password" id="senha" placeholder="Senha">
  </div>

  <div class="options">
    <input type="checkbox" id="lembrar">
    <label for="lembrar">Lembrar</label>
    <a href="#">Esqueci minha senha</a>
  </div>

  <button>Entrar</button>
  <a href="#">Ou cadastre-se</a>
</form>



