<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyReserve - Login</title>

</head>
<body>
    <div class="parent">
        <div class="div1">
    <h1>Bem-vindo à EasyReserve</h1>
    <p>Sua plataforma de reservas preferida</p>
</div>

        <div class="div2">
            <form>
                <div class="login">
                    <h1>FAÇA LOGIN</h1>
                </div>

                <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="seu@email.com">
                </div>

                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Sua senha">
                </div>

                <div class="options">
                    <div class="remember">
                        <input type="checkbox" id="lembrar">
                        <label for="lembrar">Lembrar-me</label>
                    </div>
                    <a href="#">Esqueceu sua senha?</a>
                </div>

                <button class="Botao Entrar">ENTRAR</button>

                <div class="register-link">
                    <p>Não tem uma conta? <a href="criar-conta.html">Criar conta</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
