<div class="container my-4">
  <div class="card shadow-lg rounded-3">
    <div class="card-header bg-primary text-white text-center">
      <h2>Acesso Funcionários</h2>
    </div>

    <div class="card-body">
      <button class="btn btn-success mb-3">Novo</button>

      <table class="table table-striped text-center">
        <thead class="table-primary">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Horário</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
